.super-mario {
  width: 200px;
  height: 300px;
  border-style: groov;
  position: absolute;
  z-index: 1;
  top: ;
  left: ;
}

.goomba {
  width: 100px;
  height: 100px;
  border-style: groov;
  position: absolute;
  z-index: 2;
  top: 315px;
  left: 150px;
  border-radius: 50%;
  }

.baloon {
width: 150px;
border-style: groov;
position: absolute;
z-index: 1;
top: 120px;
left: 350px;
}

.speech {
  font-size: 13px;
  border-style: groov;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 150.5px;
  left: 359px;
}

.bowser {
  width: 150px;
  border-style: groov;
  position: fixed;
  top: 170px;
  left: 500px;
}